<% if (current_user && current_user.admin) %>
  <h1>Editing Generation</h1>

  <%= render 'form', generation: @generation %>

  <p class="link">
    <%= link_to 'Show', @generation %> |
    <%= link_to 'Back', generations_path %>
  </p>

<% end %>
